.homepage{
    margin-top: 0.5em;
    z-index: -9999;
}
.homepageText{
    color: aliceblue;
    z-index: 9998;
    pointer-events:none;
}
.image{
    width: 50vh;
    height: 30vh;
    position: absolute;
    animation: grow 2s ease 1;
    transform-origin: center;
}
@keyframes grow {
    0%{
        transform: scale(0);
        opacity: 0;
    }100%{
        transform: scale(1);
        opacity: 1;
    }
}
.image:hover{
    z-index: 9999;
    cursor: pointer;
    transition: 3s ease;
}
.ps1{
    top: 30%;
    left: 15%;
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067437/PHA5E/image1_nbxt5r.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.ps2{
    top: 20%;
    left: 60%;
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067436/PHA5E/image2_hainvh.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.ps3{
    top: 70%;
    left: 60%;
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067473/PHA5E/image3_f4rkdn.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.ps4{
    top: 90%;
    right: 60%;
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067440/PHA5E/image4_twzou5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.imageHover{
    color: transparent;
    -webkit-text-stroke: 1px white; /* Creates a white-bordered effect */
    transition: 0.3s ease;
}
.textps1{
    width: auto;
    height: auto;
    position: absolute;
    top: 70%;
    right: -20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.textps1 h1{
    font-size: 50px;
    display: block;
}
.textps1 p{
    display: flex;
    font-size: 10px;
    display: block;
}

/* Black background with diagonal white lines */
.black-vector {
    background: black; /* Solid black background */
    display: block;
    border: 0.5px solid white;
    background-image: 
    linear-gradient(30.99deg, transparent 49.6%, white 2px, white 2px, transparent 50%),
    linear-gradient(-30.9deg, transparent 49.6%, white 2px, white 2px, transparent 50%);
}

/* Mobile view */
@media screen and (max-width: 1000px) {
    .homepage{
        margin-top: -20%;
    }
}
.imagemb{
    width: 20vh;
    height: 15vh;
    background-color: aliceblue;
    position: absolute;
    animation: grow 2s ease 1;
    border: 0px;
}
.mb1{
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067440/PHA5E/image4_twzou5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left:10%;
    top: 35%;
}
.mb2{
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067473/PHA5E/image3_f4rkdn.png");
    background-size: cover;
    background-repeat: no-repeat;
    right: 10%;
    top: 15%;
}
.mb3{
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067436/PHA5E/image2_hainvh.png");
    background-size: cover;
    background-repeat: no-repeat;
    left: 15%;
    top: 60%;
}
.mb4{
    background-image: url("https://res.cloudinary.com/dmaacvm3f/image/upload/f_auto,q_auto/v1740067437/PHA5E/image1_nbxt5r.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 10%;
    top: 80%;
}



  
